@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body{
    background-color: #afd6f5;
    font-family: 'Baloo 2';
}


.thoughts{
    background-image:url('bubble.png');
    background-size: cover;
    width: fit-content;
    min-width: 6rem;
    max-width: 20rem;
    min-height: 6rem;
    max-height: 20rem;
    height: fit-content;
    background-repeat: no-repeat;
    display: flex;
    align-items:center ;
    justify-content: center;
    padding: 2rem;
    float: left;
    aspect-ratio: 1/1;
}
.text{
    width: 50%;
  
    text-align: center;
    text-overflow: ellipsis;
}

h1{
    color: #ef6e06;
    font-size: 30px;
}
input{
    border-radius: 5px;
    border: 2px solid #3c5a9a;
    height: 20px;
    width: 150px;
    color: #3c5a9a;
}
button{
    background-color: #3c5a9a;
    border-radius: 5px;
    color: white;
}
header> section{
    float: left;
    box-sizing: border-box;
    width: 50%;
}

.fish> img{
    width: 200px;
}